AIPROJECT_CONNECTION_STRING=
EMBEDDINGS_MODEL="text-embedding-ada-002"
INTENT_MAPPING_MODEL="gpt-4o-mini"
CHAT_MODEL="gpt-4o-mini"
EVALUATION_MODEL="gpt-4o-mini"
#
# TIME_GEN_ENDPOINT="https://xxx.com"
# TIME_GEN_KEY="xxx"